<h1>Users</h1>
<hr>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string,
            drugi je number i bice konkatenirani da bi se dobio url -->
        <td><input type="button" [routerLink]="['/users/edit/'+user.id]" value="Edit"></td>
        <td><input type="button" (click)="deleteUser(user.id)" value="Delete"></td>
        <td><input type="button"  [routerLink]="['/users', user.id]" value="Details"></td>
    </tr>
</table>
<hr>
<div class="col-sm-4">
  <h5>Add User</h5>
  <form [formGroup]="userAddForm" (ngSubmit)="submitAddUserForm(userAddForm.value)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First Name" formControlName="userFirstName">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Last Name" formControlName="userLastName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<hr>
<div class="col-sm-4">
  <h5>Add Group</h5>
  <form [formGroup]="groupAddForm" (ngSubmit)="submitAddGroupForm(groupAddForm.value)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" formControlName="groupName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
